<ng-container id="dialog">
    <div *ngIf="isLoading" class="center">
        <mat-spinner></mat-spinner>
    </div>
    <ng-container *ngIf="!isLoading">
        <h2 mat-dialog-title>Potwierdź usunięcie pojazdu</h2>
        <mat-dialog-content>
            <p>Czy na pewno chcesz usunąć pojazd o numerze rejestracyjnym: <strong>{{ vehicle.registrationNumber }}</strong>?</p>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button (click)="onCancel()">ANULUJ</button>
            <button mat-button (click)="onConfirm()">USUŃ</button>
        </mat-dialog-actions>
    </ng-container>
</ng-container>